@use '../abstracts/variables';

.bg-purple {
    background-color: variables.$color-purple;
}

.bg-gray {
    background-color: variables.$color-gray;
}

.bg-lightgray {
    background-color: variables.$color-lightgray;
}

.border-purple {
    border-color: variables.$color-purple;
}

.border-gray {
    border-color: variables.$color-gray;
}

.border-lightgray {
    border-color: variables.$color-lightgray;
}
