@use '../abstracts/variables';

.bg-purple {
    background-color: variables.$color-purple;
}

.bg-gray {
    background-color: variables.$color-purple;
}

.bg-lightgray {
    background-color: variables.$color-purple;
}
