@use '../abstracts/variables';

.table.account-table {
    th,
    td {
        font-size: 14px;
        padding-left: 0.8rem;
        padding-right: 0.8rem;
        border-color: variables.$color-line;
    }

    th {
        font-size: 12px;
    }

    &.table-xs {
        th, td {
            padding: .10rem .5rem;
        }
    }
    
    .form-control {
        font-family: 'MuseoSans-regular';
        font-size: 14px;
        padding: 0 0.25rem;
        border-radius: 0;
        border: none;
        background-color: transparent;
        
        &.fs-12px {
            font-size: 12px;
        }
    }
}