/*=== abstracts css start === */
@font-face {
  font-family: "MuseoSans-thin";
  src: url(../fonts/MuseoSans-100.otf);
}
@font-face {
  font-family: "MuseoSans-regular";
  src: url(../fonts/MuseoSans-300.otf);
}
@font-face {
  font-family: "MuseoSans-medium";
  src: url(../fonts/MuseoSans-500.otf);
}
@font-face {
  font-family: "MuseoSans-bold";
  src: url(../fonts/MuseoSans-700.otf);
}
@font-face {
  font-family: "MuseoSans-black";
  src: url(../fonts/MuseoSans-900.ttf);
}
/*===// end of abstracts css === */
/*=== base css start === */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

::after, ::before {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, ol, ul, p, address, strong, i {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul, li {
  list-style: none;
}

a, a:hover {
  text-decoration: none;
}

.container {
  max-width: 800px;
}

body {
  font-family: "MuseoSans-medium";
  color: #373837;
}

.bg-purple {
  background-color: #ED1A5E;
}

.bg-gray {
  background-color: #747374;
}

.bg-lightgray {
  background-color: #F6F6F7;
}

.border-purple {
  border-color: #ED1A5E;
}

.border-gray {
  border-color: #747374;
}

.border-lightgray {
  border-color: #F6F6F7;
}

/*===// end of base css === */
/*=== components css start === */
.input-label {
  font-size: 14px;
}

.hero h1 {
  font-family: "MuseoSans-black";
  font-size: 10vw;
  padding: 150px 0;
}
@media (max-width: 991px) {
  .hero h1 {
    padding: 100px 0;
  }
}

/*===// end of components css === */
/*=== layout css start === */
/*===// end of layout css === */
/*=== pages start === */
/*===// end of pages  === */